blockquote
{
    background: url('{% root %}/img/quote-top.png') no-repeat scroll 50% 11px;
    color: #555555;
    font-family: arial;
    font-style: italic;
    line-height: 1.45;
    text-align: center;
    padding: 60px 38px 0;
    position: relative;
}

blockquote:after
{ content: url('{% root %}/img/quote-bottom.png'); }
