.col-md-9
{
    padding-left:  70px;
    padding-right: 70px;
}

ul:not(.navbar-nav) li.nav-item
{
    font-size: 18px;
}
p:not([class]), li:not([class])
{
    text-align: justify;
    font-size: 18px;
}
